<h1>Productos</h1>

{{! <ul id="products" class="collection"></ul> }}

<table class="table">
  <thead>
    <tr>
      <th scope="col"> Titulo </th>
      <th scope="col"> Descripcion </th>
      <th scope="col"> Categoria </th>
      <th scope="col"> Stock </th>
      <th scope="col"> Precio </th>
    </tr>
  </thead>
  <tbody>
    {{#each products.docs}}
      <tr>
        <td> {{this.title}}</td>
        <td> {{this.description}}</td>
        <td> {{this.category}} </td>
        <td> {{this.stock}} </td>
        <td> {{this.price}}</td>
        <td>
          <button
            style="color: white; display: flex; justify-content: center; align-items: center; margin: 0; border: none; border-radius: 2px; background-color: #17b947; text-decoration: none; font-size: 16px; padding: 5px 10px; box-shadow: 0px 1px 5px -2px black; cursor: pointer;"
          >Agregar</button>
        </td>
      </tr>

    {{/each}}
  </tbody>
  {{#if products.isEmpty}}
    <tfoot>
      <tr>
        <td colspan="4">No hay productos para mostrar</td>
      </tr>
    </tfoot>
  {{/if}}
</table>

<div>
  <ul style="display: flex; justify-content: space-between; column-gap: 10px;">
    {{#if products.hasPrevPage}}
      <li class="page-item z-depth-1" style="width: 100px;">
        <a
          class="page-link"
          style="color: white; display: flex; justify-content: center; align-items: center; margin: 0; border-radius: 2px; background-color: #007bff; text-decoration: none; font-size: 16px; padding: 10px 20px; cursor: pointer;"
          href="/products?page={{products.prevPage}}&&limit={{products.limit}}"
        >
          Previous
        </a>
      </li>
    {{/if}}

    {{! Links a siguientes páginas }}

    {{#if products.hasNextPage}}
      <li class="page-item z-depth-1" style="width: 100px;">
        <a
          class="page-link"
          style="color: white; display: flex; justify-content: center; align-items: center; margin: 0; border-radius: 2px; background-color: #007bff; text-decoration: none; font-size: 16px; padding: 10px 20px; cursor: pointer;"
          href="/products?page={{products.nextPage}}&&limit={{products.limit}}"
        >Next</a></li>
    {{/if}}
  </ul>
  <button class="btn btn-primary">
    Current Page:
    {{products.page}}
  </button>
</div>

<hr />

<section>
  <h2>Objeto de paginacion</h2>
  <p>
    {
    <ul style="margin-left: 2%;">
      {{#each products as |value key|}}
        <li>{{key}}: {{value}}</li>
      {{/each}}
    </ul>
    }
  </p>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>